run = "mcs -out:main.exe 'visao/main.cs' 'modelos/01categoria.cs' 'modelos/02produto.cs' 'modelos/03usuario.cs' 'negocios/NCategoria.cs' 'negocios/NProduto.cs' 'negocios/NUsuario.cs' 'negocios/arquivo.cs' ; mono main.exe"